name: Docker Build & Push
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build & Push
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          tonpseudo/plexstaffai:latest
          tonpseudo/plexstaffai:1.0
        platforms: linux/amd64,linux/arm64  # Unraid x86/ARM
