name: Docker Build & Push

on:
  push:
    branches:
      - main          # Build latest
      - dev           # Build dev
    tags:
      - 'v*'          # Build versioned tags

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: malambert35/plexstaffai
          tags: |
            # Tag "latest" si push sur main
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            # Tag "dev" si push sur dev
            type=raw,value=dev,enable=${{ github.ref == 'refs/heads/dev' }}
            # Tag version si tag git (ex: v1.6.0)
            type=semver,pattern={{version}}
            # Tag version-beta si tag git beta (ex: v1.6.0-beta)
            type=semver,pattern={{version}},suffix=-beta

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
