name: Docker Build & Push

on:
  push:
    branches: [ "main", "master" ]
    tags: [ "*", "v*" ]
  pull_request:
    branches: [ "main", "master" ]

env:
  REGISTRY: ghcr.io  # Optionnel GitHub Container
  DOCKERHUB_REPO: malambert35/plexstaffai

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # Docker Hub Login
    - name: Login Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Extract metadata (tags/labels)
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          tonpseudo/plexstaffai
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}

    # Build & Push
    - name: Build and push Docker image
      id: build-push
      uses: docker/build-push-action@v6
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    # Inspect image
    - name: Image digest
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        docker inspect tonpseudo/plexstaffai:latest
