name: Docker & Push
on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Docker Login Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push
      run: |
        docker build -t malambert35/plexstaffai:latest .
        docker push malambert35/plexstaffai:latest
        
    - name: Inspect (Post-Push)
      if: github.ref == 'refs/heads/main'
      run: docker inspect malambert35/plexstaffai:latest || echo "Inspect optional"
